.mediaViewInfo {
	--web-view-name: Homepage;
	--web-view-id: Homepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Homepage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Homepage_Class {
	position: absolute;
	width: 414px;
	height: 1030px;
	background: linear-gradient(180deg, rgba(81,165,195,1) 0%, rgba(204,201,126,1) 61.36%, rgba(255,177,125,1) 100%);
	overflow: hidden;
	--web-view-name: Homepage;
	--web-view-id: Homepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.noddles_Class {
	position: absolute;
	width: 357px;
	height: 145px;
	left: 29px;
	top: 776px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Noddles.html;
	cursor: pointer;
}
.Rectangle_1_Class {
	fill: rgba(247,248,248,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 163px;
	left: 0px;
	top: 0px;
}
.pngwingcom_1_Class {
	position: absolute;
	width: 132px;
	height: 74.518px;
	left: 212.5px;
	top: 32.919px;
	overflow: visible;
}
.Noddles_kd_Class {
	left: 52px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Built Titling;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(108,43,0,1);
	text-transform: uppercase;
}
.pizza_Class {
	position: absolute;
	width: 357px;
	height: 145px;
	left: 29px;
	top: 410px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Pizza.html;
	cursor: pointer;
}
.Rectangle_1_kf_Class {
	fill: rgba(247,248,248,1);
}
.Rectangle_1_kf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 163px;
	left: 0px;
	top: 0px;
}
.pngegg_1_Class {
	position: absolute;
	width: 132px;
	height: 90.75px;
	left: 212.5px;
	top: 21.125px;
	overflow: visible;
}
.Pizza_kh_Class {
	left: 52px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Built Titling;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(108,43,0,1);
	text-transform: uppercase;
}
.burger_Class {
	position: absolute;
	width: 357px;
	height: 145px;
	left: 29px;
	top: 227px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Burger.html;
	cursor: pointer;
}
.Rectangle_1_kj_Class {
	fill: rgba(247,248,248,1);
}
.Rectangle_1_kj {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 163px;
	left: 0px;
	top: 0px;
}
.pngwingcom_Class {
	position: absolute;
	width: 132px;
	height: 84.818px;
	left: 218.5px;
	top: 27.091px;
	overflow: visible;
}
.Burger_kl_Class {
	left: 52px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Built Titling;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(108,43,0,1);
	text-transform: uppercase;
}
.pastry_Class {
	position: absolute;
	width: 357px;
	height: 145px;
	left: 29px;
	top: 593px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Pastry.html;
	cursor: pointer;
}
.Rectangle_1_kn_Class {
	fill: rgba(247,248,248,1);
}
.Rectangle_1_kn {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 163px;
	left: 0px;
	top: 0px;
}
.Pastry_ko_Class {
	left: 52px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Built Titling;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(108,43,0,1);
	text-transform: uppercase;
}
.pngegg_2_Class {
	position: absolute;
	width: 89px;
	height: 112.2px;
	left: 234px;
	top: 13.4px;
	overflow: visible;
}
.drink_Class {
	position: absolute;
	width: 357px;
	height: 145px;
	left: 29px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Drink.html;
	cursor: pointer;
}
.Group_12_Class {
	position: absolute;
	width: 357px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1_ks_Class {
	fill: rgba(247,248,248,1);
}
.Rectangle_1_ks {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 163px;
	left: 0px;
	top: 0px;
}
.SeekPngcom_coca-cola-png_18847_kt_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 37px;
	height: 122.438px;
	left: 263px;
	top: 11.281px;
	overflow: visible;
}
.Drink_ku_Class {
	left: 52px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Built Titling;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(108,43,0,1);
	text-transform: uppercase;
}
.Component_7__2_Class {
	position: absolute;
	width: 66px;
	height: 72px;
	left: 329px;
	top: 945px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cart.html;
	cursor: pointer;
}
.Component_6__1_kw_Class {
	position: absolute;
	width: 66px;
	height: 66px;
	left: 0px;
	top: 6px;
	overflow: visible;
}
.Group_3_kx_Class {
	position: absolute;
	width: 66px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_1_ky_Class {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_ky {
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 66px;
	left: 0px;
	top: 0px;
}
.Icon_ionic-ios-cart_kz_Class {
	position: absolute;
	width: 27.577px;
	height: 25.471px;
	left: 19.212px;
	top: 20.264px;
	overflow: visible;
}
.Path_1_k_Class {
	fill: rgba(108,43,0,1);
}
.Path_1_k {
	overflow: visible;
	position: absolute;
	width: 3.183px;
	height: 3.183px;
	left: 5.829px;
	top: 22.288px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_2_k_Class {
	fill: rgba(108,43,0,1);
}
.Path_2_k {
	overflow: visible;
	position: absolute;
	width: 3.183px;
	height: 3.183px;
	left: 20.717px;
	top: 22.288px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_k_Class {
	fill: rgba(108,43,0,1);
}
.Path_3_k {
	overflow: visible;
	position: absolute;
	width: 27.577px;
	height: 21.221px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_2_k_Class {
	fill: rgba(255,0,0,1);
}
.Ellipse_2_k {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 41px;
	top: 0px;
}
.n__k_Class {
	left: 50px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
}